<html lang="en">
<head>
	<title>Spin Wheel</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="data:image/x-icon;," type="image/x-icon">
	<link rel="stylesheet" href="./index.css"/>
	<script src="./wheel.component.tsx" type="module"></script>
</head>
  
<body>
  
	<div class="gui-wrapper">
	  <p>Click-drag (or flick) to spin the wheel.</p>
	  <p><label>Theme:</label><select></select></p>
	</div>
  
	<div class="wheel-wrapper"></div>
  
</body>
</html>