label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

body, html, #root, .app-background {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-size: 100%;
  background-position: center calc(50% + 60px);
  position: relative; /* Ensure position relative for proper stacking */
  overflow: hidden; /* Hide overflow to contain particles */
}

.app-background {
  overflow: auto; /* Make the app background scrollable */
  height: 100vh; /* Ensure it takes up the full viewport height */
  width: 100%; /* Full width of the page */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

body {
  overflow: overlay; /* Prevent content shifting due to scrollbar */
}

/* Optional: Custom scrollbar styling */
::-webkit-scrollbar {
  width: 0; /* Hide scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Subtle scrollbar thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent scrollbar track */
}
